.cart-page {
  background: #03042fff;
  min-height: 100vh;
}

.cart-card {
  border-radius: 12px;
}

.cart-img {
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
}

.cart-summary {
  border-radius: 12px;
  background: #ffffff;
}
body{
  background-color: #03042fff;
}